<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://github.com/dvdzz">Darren O. Van Dyke 
    </a>  A web developer who is passionate about using technology to bring people together and to help preserve the planet.
  </p>
  <br />
  <p>
    Darren is fresh out of "Coding Boot-camp" and is eager to change the world. 
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'gettyimages-dvd1.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Darren O. Van Dyke
      </h2>
      <br />
      <p>
       Darren just successfully completed a 6 month boot-camp course where he learned best practices and skills in full stack web developement.  Prior to this Darren sold and supported technology in the contact center space for AVAYA in Miami, FL and Manhattan, NY.  Darren also help produce a full length feature film (<a target="_blank" href="https://www.warningshotthemovie.com/"> warningshot</a>) that you can view on any number of streaming sites like HULU, Amazon Prime or OnDemand.  
      </p>
    </div>
  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />